body {
  font-family: 'Source Code Pro', courier, monospace;
  background: black;
  color: white;
}

h1 {
  letter-spacing: 5px;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.game-board {
  position: relative;
  width: 270px;
  background: #333641;
  color: white;
}

.board-row {
  width: 100%;
  height: 25px;
  margin: 0;
}

.start-game-modal {
  position: absolute;
  top: 35%;
  background: black;
  height: 200px;
  width: 300px;
  display: flex;
  flex-flow: column; 
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px blue;
}

.button {
  background: transparent;
  color: white;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-variant: small-caps;
  font-family: 'Source Code Pro', courier, monospace;
}

.button:hover {
  background: blue;
  cursor: pointer;
}